body {
    font-family: 'Poppins', sans-serif;
}

nav {
    position: fixed;
    width: 100%;
    background-color: #2C3E50;
    z-index: 1;
}

.nav-container {
    max-width: 100%;
    height: 72px;
    display: flex;
    justify-content: space-between;
    padding: 0 70px;
    align-items: center;
}

.nav-container p a,
li a {
    color: aliceblue;
    font-weight: 500;
    transform: 0.5ms;
}

.nav-container li a:hover {
    color: #1ABC9C;
}

.nav-container p {
    font-size: 24px;
    font-weight: 600;
}

ul {
    display: flex;
    gap: 20px;
}

.header {
    max-width: 100%;
    height: 700px;
    background-color: #1ABC9C;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.header img {
    margin: 10px auto;
    width: 250px;
    height: 250px;
}

.header h1 {
    color: aliceblue;
    font-size: 45px;
}

.header p {
    color: aliceblue;
    font-size: 20px;
}

.icon {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.header-icon i {
    font-size: 30px;
    color: aliceblue;
}

.line {
    width: 110px;
    height: 4px;
}

.h-line {
    background-color: aliceblue;
}

.portfolio {
    margin: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.portfolio h1 {
    color: #2C3E50;
    font-size: 45px;
}

.portfolio-icon i {
    font-size: 30px;
    color: #2C3E50;
}

.p-line {
    background-color: #2C3E50;
}

.portfolio-cards {
    margin: 40px;
    width: 1300px;
    justify-content: space-around;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.card {
    position: relative;
    width: 400px;
    height: 280px;
}

.card img {
    width: 400px;
    height: 280px;
    border-radius: 20px;
}

.img-hover {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 400px;
    height: 280px;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 20px;
    background-color: #1ABC9C;
    opacity: 0;
    transition: all 0.2s ease-in-out
}

.img-hover i {
    font-size: 70px;
    color: aliceblue;
}

.img-hover:hover {
    opacity: 0.8;
}

.about {
    height: 600px;
    background-color: #1ABC9C;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.about h1 {
    color: aliceblue;
    font-size: 45px;
    margin-top: 50px;
}

.about-text {
    justify-content: space-between;
    align-items: center;
    display: flex;
    gap: 30px;
    width: 650px;
}

.about-text p {
    color: aliceblue;
    font-size: 20px;
}

.btn-download {
    border: 2px solid aliceblue;
    width: 230px;
    height: 65px;
    padding: 16px 28px;
    border-radius: 5px;
    transition: 0.5s all ease;
}

.btn-download i,span {
    color: aliceblue;
    font-size: 18px;
}

.btn-download:hover {
    background-color: aliceblue
}

.btn-download:hover i{
    color: black;
}
.btn-download:hover span{
    color: black;
}

.contact {
    padding: 70px;
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 30px;
}

.contact h1 {
    color: #2C3E50;
    font-size: 45px;
}

.contact-input form {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.contact-input input {
    border: 0;
    background-color: aliceblue;
    outline: none;
    font-size: 35px;
}

textarea {
    font-size: 35px;
    outline: none;
    border: none;
}

.contact-input button {
    font-size: 20px;
    font-weight: 600;
    color: aliceblue;
    background-color: #1ABC9C;
    width: 100px;
    height: 60px;
    border: none;
    border-radius: 10px;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 50px;
    background-color: #2C3E50;
}

.footer {
    width: 1000px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.footer h4 {
    font-size: 24px;
    color: aliceblue;
}

.footer p {
    font-size: 20px;
    color: aliceblue;
    ;
}

.footer-about {
    width: 40%;
}

.footer-about p a {
    color: #1ABC9C;
}

.footer-icons {
    gap: 10px;
    justify-content: space-around;
    display: flex;
}

.footer-icon {
    border-radius: 50%;
    width: 52px;
    height: 52px;
    padding: 13px;
    border: 2px solid aliceblue;
}

.footer-icon:hover {
    background-color: aliceblue;
}
.footer-icon:hover i{
    color: black;
}

.footer-icon i {
    font-size: 20px;
    color: aliceblue;
}

.copyright {
    font-size: 14px;
    color: aliceblue;
    background-color: #212529;
    padding: 20px;
    text-align: center;
}
/* TABLET RESPOSIVE */
@media screen  and (max-width:768px){
    .portfolio-cards {
        width: 805px;
        gap: 5px;

    }   
}
/* mobile reponsive */
@media screen  and (max-width:768px){
    .portfolio-cards {
        flex-direction: column;

    }   
}